xml/control.dtd

<?xml encoding="ISO-8859-1"?>

<!ELEMENT document (controlParameters)>

<!ELEMENT controlParameters (detectorFile, electronicsFile,
                             simulationMode,
			     injectorFile, pulserFile, visualizationSwitch)>

<!ELEMENT detectorFile    (#PCDATA)>
<!ELEMENT electronicsFile (#PCDATA)>
<!ELEMENT simulationMode  (#PCDATA)>
<!ELEMENT injectorFile    (#PCDATA)>
<!ELEMENT pulserFile      (#PCDATA)>
<!ELEMENT visualizationSwitch (#PCDATA)>
<!ELEMENT electronicsSwitch (#PCDATA)>
